body {
    color: $color-black;
    background-color: $color-white-2;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 14px;

    @include tablet-up {
      font-size: 16px;
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

footer {
  position: relative;
}

.created-by {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
    
  margin-right: -50%;
  transform: translate(-50%, -50%);
 
  color: $color-white;
  font-size: 10px;

  @include tablet-up {
    font-size: 12px;
  }

  @include desktop-up {
    font-size: 15px;
  }
}

.created-by__icon {
  width: 40px;
  height: 25px;
  fill: $color-white;

  @include tablet-up {
    width: 45px;
    height: 30px;
  }

  @include desktop-up {
    width: 55px;
    height: 40px;
  }
}

