$color-brand: #4440f6;

$color-brand-line: #4440f7;
$color-brand-translucent: rgba(68, 64, 247, 0.7);
$color-brand-2: #4b48db;
$color-white: #fff;
$color-white-2: #f4f4f4;
$color-black: #111321;
$color-black-translucent: rgba(17, 19, 33, 0.4);
$color-grey: #a8a8a8;
$color-dark-grey: #5f6775;
$color-grey-translucent: rgba(244, 244, 244, 0.4);
$color-green: #00dd73;
$color-green-status: #00b912;


$color-calendar-black: #000000;
$color-calendar-grey: #5f6775;
$color-calendar-grey-translucent: rgba(60, 60, 67, 0.3);

$color-arrow: #a2a2a2;

$color-read-date: #929292;

$bg-weather-translucent: rgba(254, 254, 255, 0.3);

$bg-footer: #7a7a7a;
$bg-dark-theme: #2e2e2e;
