<!-- <li class="news__item">
    <a class="news__link" href="">
    <div class="news__images-container">
        <img class="news__foto" src="./images/asia-320.jpg" alt=" " />
    </div>
    </a>

    <div class="news__category">
        <span class="news__category__text">Job searching</span>
    </div>
    <div class="news__favorite">
        <button class="news__favorite__button">
            Add to favorite
            <svg class="news__favorite__button__icon" width="16" height="16">
                <use href="./images/icons.svg#icon-heart-bordered"></use>
            </svg>
        </button>
    </div>
    <h2 class="news__title">
        8 tips for passing an online interview that will help you get a
        job
    </h2>
    <p class="news__abstruct">
        Before you start looking for a job, it is useful to familiarize
        yourself with the job prospects offered by these...
    </p>
    <div class="news-card--position">
        <div class="news__data">20/02/2021</div>
        <div class="news__read-more">
            <a href="">Read more</a>
        </div>
    </div>
    <div class="news-box--overlay">
        <span class="news-box-text">
            Already read
        </span>
    </div>
</li>

<li class="news__item"> 
     -->