<div class="errorImage visually-hidden">
  <p class="error__text">We haven’t found news from this category</p>
  <picture>
    <source
      srcset="./images/img-desk@1x.png 1x, ./images/img-desk@2x.png 2x"
      media="(min-width: 1280px)"
    />
    <source
      srcset="./images/img-tabl@1x.png 1x, ./images/img-tabl@2x.png 2x"
      media="(min-width: 768px)"
    />
    <source
      srcset="./images/img-mob@1x.png 1x, ./images/img-mob@2x.png 2x"
      media="(max-width: 767px)"
    />
    <img
      src="./images/img-desk@1x.png"
      alt="photo"
      class="error_img"
      loading="lazy"
    />
  </picture>
</div>
