<div class="mobil-menu js-menu-container">
  <div class="container-mobile mobil__card">
    <a class="mobil-menu__logo" href="./index.html">news </a>
    <button class="mobil-menu__close-button js-close-menu">
      <svg class="mobil-menu__icon-close" width="20" height="20">
        <use href="./images/icons.svg#icon-mobile-menu-1"></use>
      </svg>
    </button>
    <nav class="mobil-menu__nav">
      <ul class="mobil-menu__item">
        <li class="mobil-menu__list">
          <div class="mobil-menu__box">
            <a class="mobil-menu__link-icon" href="./index.html">
              <svg class="mobil-menu__icon" width="18" height="18">
                <use href="./images/icons.svg#icon-home"></use></svg
            ></a>
            <a class="mobil-menu__link" href="./index.html">Home</a>
          </div>
          <div class="mobil-menu__switch">
            <svg class="mobil-menu__icon-arrow" width="24" height="24">
              <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
          </div>
        </li>
        <li class="mobil-menu__list">
          <div class="mobil-menu__box">
            <a class="mobil-menu__link-icon" href="./favourite.html">
              <svg class="mobil-menu__icon" width="18" height="18">
                <use href="./images/icons.svg#icon-heart"></use></svg
            ></a>
            <a class="mobil-menu__link" href="./favourite.html">Favorite</a>
          </div>
          <div class="mobil-menu__switch">
            <svg class="mobil-menu__icon-arrow" width="24" height="24">
              <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
          </div>
        </li>
        <li class="mobil-menu__list">
          <div class="mobil-menu__box">
            <a class="mobil-menu__link-icon" href="./read.html">
              <svg class="mobil-menu__icon" width="18" height="18">
                <use href="./images/icons.svg#icon-book"></use></svg
            ></a>
            <a class="mobil-menu__link" href="./read.html">Read</a>
          </div>
          <div class="mobil-menu__switch">
            <svg class="mobil-menu__icon-arrow" width="24" height="24">
              <use href="./images/icons.svg#icon-arrow"></use>
            </svg>
          </div>
        </li>
      </ul>
    </nav>
    <div class="mobile-switch">
      <svg class="mobile-switch__icon-sun" width="21" height="21">
        <use href="./images/icons.svg#icon-sun"></use>
      </svg>
      <input
        class="mobile-switch__checkbox"
        type="checkbox"
        name="theme-switch"
        id="mobile__theme-switch"
        aria-label="theme switch"
      />
      <label class="mobile-switch__label" for="mobile__theme-switch"></label>
      <svg class="mobile-switch__icon-moon" width="21" height="21">
        <use href="./images/icons.svg#icon-moon"></use>
      </svg>
    </div>
  </div>
</div>
