<div class="container category__section">
    <ul class="category__list">
        <li class="category__item">
            <button class="category__btn" type="submit">
                Admin
            </button>
        </li>
        <li class="category__item">
            <button class="category__btn" type="submit" id="btn2">
                Arts
            </button>
        </li>
        <li class="category__item">
            <button class="category__btn" type="submit">
                Automobiles
            </button>
        </li>
        <li class="category__item">
            <button class="category__btn" type="submit">
                Books
            </button>
        </li>
        <li class="category__item">
            <button class="category__btn" type="submit">
                Briefing
            </button>
        </li>
        <li class="category__item">
            <button class="category__btn" type="submit">
                Business
            </button>
        </li>
        <li class="category__item">
            <button class="category__btn" type="button">
                Others
            </button>
        </li>
    </ul>
    <div class="category__calendar">check date</div>
</div>;