<div class="container page-pagination">
  <div class="page-pagination__container">
    <button class="page-pagination__prev-btn" type="button" disabled>
      <svg class="page-pagination__btn-icon" width="20" height="20">
        <use href="./images/icons.svg#icon-arrow-pg"></use></svg
      >Prev
    </button>
    <ul class="page-pagination__list"></ul>
    <button Next class="page-pagination__next-btn" type="button">
      Next
      <svg
        class="page-pagination__btn-icon page-pagination__btn-icon--dg"
        width="20"
        height="20"
      >
        <use href="./images/icons.svg#icon-arrow-pg"></use>
      </svg>
    </button>
  </div>
</div>
