<li class="news__item">
  <div class="news__images-container">
    <a class="news__link" target="_blank" href="${url}">
      <img class="news__foto" src="${foto}" alt="" />
    </a>

    <div class="news__category">
      <div class="news__category-text">${section}</div>
    </div>

    <div class="news__favorite">
      <button class="news__favorite-button">
        Add to favorite
        <svg class="news__favorite-icon" width="16" height="16">
          <use href="${svgA}#${svgB}"></use>
        </svg>
      </button>
    </div>
  </div>

  <h2 class="news__title">${title}</h2>

  <div class="box">
    <p class="news__abstruct">${newsAbstruct}</p>

    <div class="news-card--position">
      <div class="news__data">${newDataFormat}</div>
      <div class="news__read-more">
        <a class="news__link" target="_blank" href="${url}">Read more</a>
      </div>
    </div>
  </div>

  <!-- <div class="news-box--overlay">
    <span class="news-box-text"> Already read </span>
  </div> -->
</li>
