.dark .header {
  border-bottom: 1px solid rgba(244, 244, 244, 0.2);
}

.dark {
  background-color: $bg-dark-theme;
  color: $color-white-2;
  fill: $color-white-2;
  border-color: $color-white-2;
}
.theme-switch {
  color: $color-brand-2;
  fill: $color-brand-2;
  stroke: $color-brand-2;
}
.switch__label.theme-switch--bg {
  background-color: $color-brand-line;
}
.theme-switch--bg.switch__label::after {
  background-color: $color-white;
}

.theme-switch.switch__icon-sun {
  fill: $color-dark-grey;
}

.mobil-menu.is-open .mobile-switch__checkbox:checked + .mobile-switch__label {
  background-color: $color-brand-line;
}
.mobil-menu.is-open
  .mobile-switch__checkbox:checked
  + .mobile-switch__label::after {
  background-color: $color-white;
}
