.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
 
  &__container {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    @media screen and (min-width: 480px) {
      min-width: 480px;
    }
    @media screen and (min-width: 768px) {
      align-items: center;
      min-width: 768px;
      padding-top: 32px;
      padding-bottom: 32px;
    }
    @media screen and (min-width: 1280px) {
      min-width: 1280px;
      padding-top: 28px;
      padding-bottom: 28px;
    }
  }
  &__container-part {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  &__logo {
    margin-right: 14px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: calc(33px / 24px);
    color: inherit;
    text-transform: capitalize;
    @media screen and (min-width: 768px) {
      margin-right: 48px;
      font-size: 24px;
      line-height: calc(44px / 32px);
    }
    @media screen and (min-width: 1280px) {
      margin-right: 102px;
      font-size: 42px;
      line-height: calc(57px / 42px);
    }
  }
  &__nav {
    display: none;
    align-items: baseline;

    @media screen and (min-width: 768px) {
      display: flex;
      gap: 44px;
      margin-right: 32px;
    }
    @media screen and (min-width: 1280px) {
      gap: 69px;
      margin-right: 147px;
    }
  }
  &__item {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(22px / 16px);
    text-transform: capitalize;
    color: inherit;
    @media screen and (min-width: 1280px) {
      font-weight: 700;
      font-size: 18px;
      line-height: calc(25px / 18px);
    }
  }
}

.search {
  position: relative;

  &__input {
    font-family: 'Poppins';
    width: 173px;
    height: 31px;
    padding: 6px 12px 6px 48px;
    border-radius: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24px / 14px);
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: inherit;
    cursor: pointer;
   
    @media screen and (max-width: 400px) {
      display: none;
    }

    @media screen and (min-width: 768px) {
      width: 213px;
    }
    @media screen and (min-width: 1280px) {
      width: 288px;
    }
    // &:hover,
    // &:focus {
    //   border-color: $color-black;
    // }
  }
  &__input::placeholder {
    width: 59px;
    padding-left: 4px;
    border-right: 2px solid rgba(17, 19, 33, 0.4);
    @media screen and (min-width: 768px) {
      padding-left: 8px;
    }
  }
  &__btn {
    width: 20px;
    height: 19px;
    padding: 0;
    border: none;
    position: absolute;
    background-color: inherit;
    top: 6px;
    left: 12px;
    @media screen and (max-width: 400px) {
      display: none;
    }
  }
}

.search__input.search-hidden {
  display: block;
}
.search__btn.search-hidden {
  display: block;
}
.btn-search {
  padding: 3px;
  background-color: inherit;
  fill: inherit;
  border: none;
  @media screen and (min-width: 401px) {
    display: none;
  }
}
.btn-search.disabled {
  display: none;
}

.switch {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    width: 98px;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
  }
  @media screen and (min-width: 1280px) {
    width: 148px;
    gap: 12px;
  }

  &__checkbox {
    display: none;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    outline: none;
    @media screen and (min-width: 768px) {
      display: block;
    }
  }
  &__name {
    display: none;
    text-transform: capitalize;
    @media screen and (min-width: 1280px) {
      display: block;
      font-family: 'Poppins';

      font-weight: 400;
      font-size: 18px;
      line-height: calc(24px / 18px);
      color: $color-dark-grey;
    }
  }
  &__label {
    border: 0.604701px solid $color-brand-2;
    background: $color-white;
    min-width: 40px;
    height: 20px;
    display: block;

    border-radius: 20px;
    position: relative;
    cursor: pointer;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__label::after {
    content: '';
    width: 16px;
    height: 16px;
    background: $color-brand-2;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: -1px;
    transition: 0.5s;

    transform: translateY(-50%);
  }
}

.switch__checkbox:checked + .switch__label:after {
  transform: translateX(140%) translateY(-50%);
}

.switch__label:hover,
.switch__label:focus {
  box-shadow: 1px 1px 7px $color-brand-2;
}

.burger-menu {
  display: block;
  top: 28px;
  right: 16px;
  fill: $color-calendar-black;
  background-color: inherit;
  border: none;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

// current
.header__item {
  position: relative;
}
.header__nav .current-page::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -5px;
  background: $color-brand-line;
  border-radius: 2px;
}
