.news__category {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;

  @include tablet-up {
    margin-top: 48px;
  }

  @include desktop-up {
    margin-top: 60px;
  }
}

.news__list {
  @include tablet-up {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.news__item {
  display: flex;
  flex-direction: column;
  position: relative;

  @include mobile-only {
    &:not(:last-child) {
      margin-bottom: 28px;
    }
  }

  @include tablet-up {
    flex-basis: calc((100% - 2 * 32px) / 2);
  }

  @include desktop-up {
    flex-basis: calc((100% - 3 * 32px) / 3);
  }
}

.news__images-container {
  position: relative;
  width: 288px;
  height: 395px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid rgb(245, 242, 241);
  overflow: hidden;

  @include tablet-up {
    width: 353px;
    height: 395px;
  }

  @include desktop-up {
    width: 395px;
    height: 395px;
  }
}

.news__foto {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news__category {
  position: absolute;
  left: 0px;
  top: 40px;
  z-index: 5;

  width: 112px;
  height: 24px;
  padding: 4px 8px 4px 8px;
  margin: 0;

  background-color: $color-brand-translucent;
  border-radius: 0px 4px 4px 0px;
}

.news__category-text {
  font-size: 12px;
  line-height: 1.33;
  color: $color-white;
}

.news__favorite {
  position: absolute;
  right: 12px;
  bottom: 12px;
  z-index: 10;
}

.news__favorite-button {
  width: 126px;
  height: 28px;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  font-size: 12px;
  line-height: 1.33;
  background: $color-white;
  border-radius: 20px;
  border: none;
  cursor: pointer;

  fill: $color-white;
}


.news__favorite-button--active {
  fill: $color-brand-2;
  font-size: 11px;
}

.box {
  display: flex;
  flex-direction: column;
  height: auto;
}

.news__title {
  flex-grow: 1;

  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.37;
  letter-spacing: -0.01em;
  color: inherit;

  @include tablet-up {
    font-size: 32px;
    line-height: 1.37;
  }
}

.news__abstruct {
  margin-bottom: 20px;

  color: inherit;

  @include tablet-up {
    height: 50px;
  }
}

.news__data {
  text-align: right;
  color: $color-grey;
}

.news__read-more {
  color: $color-brand;
  margin-right: 21px;
}

.news-card--position {
  display: flex;
  justify-content: space-between;
}

.news-box--overlay {
  display: none;
}

.news__link {
  color: $color-brand-2;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.news-box--overlay {
  z-index: 4;
  position: absolute;
    display: none;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(244, 244, 244, 0.4);
  border-radius: 4px;
  transform: translateY(100%);
  pointer-events: none;
  transition: transform 1000ms cubic-bezier(0.4, 0, 0.2, 1);

  @include mobile-only {
    width: 288px;
    height: 630px;
  }
}

.news-box--overlay-active {
  transform: translateY(0);
  display: block;
}

.news-box-text {
  display: flex;
  top: 20px;
  right: 21px;
  gap: 6px;

  position: absolute;
  right: 14px;
  top: 14px;
  color: $color-green;
  font-weight: 700;

  @include desktop-up {
    right: 21px;
    top: 20px;
  }
}

