.read-news__container {
    // padding-top: 40px;

    @include tablet-up {
        padding-top: 48px;
    }

    @include desktop-up {
        padding-top: 60px;
    }
}

.read-news__list:not(:last-child) {
    margin-bottom: 40px;

    @include tablet-up {
        margin-bottom: 48px;
    }

    @include desktop-up {
        margin-bottom: 60px;
    }
}

.read-news__btn {
    border: none;
    background-color: transparent;

    padding-left: 0;
    padding-right: 0;
    padding-bottom: 12px;

    margin-top: 40px;
    
    @include tablet-up {
        margin-top: 48px;
    }

    @include desktop-up {
        margin-top: 60px;   
    }
   
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;

    font-size: 14px;
    line-height: 1.7;
    color: inherit;
    border-bottom: 1px solid $color-read-date;

     svg {
        width: 14px;
        height: 14px;
        fill: inherit;

        transition: transform 250ms ease-in-out;    
    }

        &:hover,
        &:focus {
            cursor: pointer;
        }

    &.isOpen {
        svg {
            transform: rotate(180deg);
        }
    }
}

.read-news__btn + .news__list {
    position: absolute;
    top: 100%;

    width: 100%;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    // transform: translateY(-4%);
    transition: opacity 500ms ease-in-out, transform 500ms ease-in-out,
        visibility 500ms ease-in-out;

    transition: top center;

}

.read-news__btn.isOpen + .news__list {
    position: relative;

    opacity: 1;
    pointer-events: all;
    visibility: visible;

    // transform: translateY(0);
}