.weather {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $color-brand;
    font-family: "Roboto";
    width: 288px;
    height: 469px;
    border-radius: 4px;
    margin-right: auto;
    margin-left: auto;

    @include mobile-only {
        margin-bottom: 28px;
    }

    @include tablet-up {
        width: 353px;
        height: 675px;   
    }

    @include desktop-up {
        width: 395px;
        height: 675px;  
    }

    

    &__main {
       display: flex;
       align-items: center;

       color: $color-white;
       margin-top: 32px;
       margin-left: auto;
       margin-right: auto;
       margin-bottom: 40px;

       @include tablet-up {
          margin-top: 40px;
          margin-bottom: 89px;
       }
    }


    &__temp {
       font-size: 55px;
       line-height: 1.16;
       border-right: 1px solid $color-white;

       @include tablet-up {
          font-size: 64px;
          line-height: 1.17;
       }
    }

    &__desk {
        font-size: 24px;
        line-height: 1.17;

        @include tablet-up {
            font-size: 36px;
            line-height: 1.17;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        margin-left: 11px;
    }

    &__location {
        display: flex;
        align-items: center;
        padding: 9px 8px;
        background-color: $bg-weather-translucent;
        border-radius: 10px;
        height: 34px;
    }

    &__location-city {
        font-size: 14px;
        line-height: 1.14;
        margin-left: 4px;

        @include tablet-up {
            font-size: 20px;
            line-height: 1.15;
        }
    }

    &__icon {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        width: 128px;
        height: 121px;

        @include tablet-up {
            width: 165px;
            height: 156px;
            margin-bottom: 90px;
        }
    }

    &__btn {
        color: $color-white;
        height: 32px;
        padding: 8px 10px;
        font-size: 16px;
        background-color: $bg-weather-translucent;
        border-radius: 10px;
        margin-right: auto;
        margin-left: auto;
        
        line-height: 1.15;
        transition: background-color 0.25s;
        display: block;
        outline: none;
        border: none;
        cursor: pointer;
    }
    
    &__btn:hover {
        background-color: rgba(254, 254, 255, 0.1);
    }

}

.current__date {
    color: $color-white;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    margin-bottom: 12px;

    @include tablet-up {
        font-size: 36px;
        line-height: 1.17;
        margin-bottom: 20px;
    }
}
  
#loading img {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   max-width: 80px;
   
}

